<p>
  <a routerLink="../" class="btn">Вернуться к просмотру статьи</a>
  <a routerLink="/articles" class="btn">Вернуться к списку</a>
</p>

<form [formGroup]="editForm" (ngSubmit)="onSubmit()" *ngIf="article">
  <div>
    <input type="text" name="title" formControlName="title"
           placeholder="Название">
  </div>
  <div>
    <textarea name="content" formControlName="content"
              placeholder="Содержание"></textarea>
  </div>
  <div>
    <button type="submit">Сохранить изменения</button>
  </div>
</form>
