<p><a [routerLink]="'/articles/create'" class="btn">Создать</a></p>

<div *ngIf="isLoading">Loading...</div>

<div *ngIf="articles$ | async as articles">

  <div *ngIf="!articles.length; else elseBlock">
    Нет записей
  </div>

  <ng-template #elseBlock>
    <div *ngFor="let article of articles" class="app-card">
      <div class="app-card__date">
        {{ article.createdAt | date: 'dd.MM.yyyy' }}
      </div>
      <div class="app-card__title">
        <a [routerLink]="['/articles', article._id]">
          {{ article.title }}
        </a>
      </div>
    </div>
  </ng-template>

</div>
